*{
    margin:0;
    padding: 0;
}

body{

height:100vh;


display:flex;
flex-direction: column;
justify-content: center;
align-items: center;

background-color: rgb(255, 255, 255);


}
.container{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: -14px;
  height: 300px;
  width: 339px;
  background-color:#294470;
  border-radius: 9px;
}
/* .celceius,.Farenite,.Kelvin{

    height: 45px;

} */
input{
    margin: 8px;
  padding: 8px;
  height: 14px;
  width: 199px;
  border-radius: 5px;
  text-align: center;
}
.but{
    margin: -15px;
  padding: -15px;
  height: 32px;
  width: 48px;
  border-radius: -1px;

}
p{
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  color: white;}

/* #cl{
    margin: 4px;
  padding: 0px;
  height: 29px;
  width: 99px;
  border-radius: -1px;
} */

.bt{
  margin: 4px;
  padding: 0px;
  height: 29px;
  width: 99px;
  border-radius: -1px;
}
.but:hover{
    background-color: white;

}